body{
    background-color:black;
}
.RyuStandingStill{
    margin-left:10%;
    display:block;
}
.RyuDiv{
    width:649px;
    height:494px;
    border: 1px solid white;
}
.RyuReadyPose, .RyuThrow{
    margin-left:10%;
    display:none;
}
.Hadouken{
    display:none;
}
